.row {
  display: flex;
  align-items: center;
}

.ratingIcon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
}

.star {
  fill: #ffc531;
}

.reviews {
  margin-right: 1rem;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
